.header {
    nav{
        position: relative;
        background-color: $white;
        padding-top: 17px;
        padding-bottom: 17px;
    }

    &.open {        
        .header__toggle {
            span:first-child {
                transform: rotate(45deg);
            }
    
            span:nth-child(2) {
                opacity: 0;
            }
    
            span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    &__logo {
        img {
            width: 141px;
            height: 22px;
        }
    }

    &__toggle {
        span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $darkBlue;
            transition: all 0.3s ease-in-out;
            transform-origin: 3px 1px;

            &:not(:last-child){
                margin-bottom: 5px;
            }
        }
    }

    &__links {
        a {
            font-size: $font-sm;
            color: $grayishBlue;
            transition: color 0.3s ease-in-out;
            position: relative;

            &:not(:last-child) {
                margin-right: 32px;
            }

            &::before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 5px;
                left: 0;
                right: 0;
                bottom: -30px;
                background: linear-gradient(to right, $limeGreen, $brightCyan);
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }

            &:hover {
                color: $darkBlue;
                
                &::before {
                    opacity: 1;
                }
            }
        }
    }

    &__cta {
        transition: opacity 0.3s ease-in-out;

        &:hover {
            opacity: 0.75;
        }
    }

    &__menu {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        z-index: 1000;
        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        // margin-left: 20px;
        margin-top: 20px;
        background-color: $white;
        padding: 26px;
        border-radius: 5px;

        a {
            color: $darkBlue;
            padding: 10px;
            display: block;
            text-align: center;
        }
    }
}

.overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient($darkBlue, transparent);
}