.hero {
    .container {
        @media screen and (min-width: 992px) {
            display: flex;
            align-items: center;
        }
        min-height: 42rem;
    }

    &__image {
        text-align: center;
        img {
            height: 27rem;
            
            @media screen and (max-width: 640px) {
                height: 17rem;
            }
        }
        @media screen and (min-width: 992px) {
            order: 2;
        }

        
    }
    &__text {
        @media screen and (min-width: 992px) {
            order: 1;
            text-align: left;
        }

        text-align: center;
        h1 {
            font-weight: 300;
            color:  $darkBlue;
            line-height: 1.15;
            font-size: 37px;
            margin-bottom: 1.5rem;

            @media screen and (min-width: 992px) {
                font-size: $font-xlg;
            }
        }

        p {
            line-height: 1.15;
            margin-bottom: 2.25rem;
            color: $lightGrayishBlue;

            @media screen and (min-width: 992px) {
                font-size: $font-lg;
            }
        }
    }

    &__cta {
        transition: opacity 0.3s ease-in-out;

        &:hover {
            opacity: 0.75;
        }
    }
}